name: Continous integration
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main
jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: sadik8143
          password: Sadik@8143

      - name: build dockerimage
        run: |
          docker build -t sadik8143/springpetclinic:1.0 .
      - name: running test
        run: |
          mvn test
      - name: Publish Test Results
        if: success()  
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: target/surefire-reports/*.xml 
        
      - name: pushing the docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: sadik8143/springpetclinic:1.0
      
      - name: installing trivy
        run: |
          sudo apt-get install wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y

      - name: Scan the image and save results
          run: |
            trivy image --format json --output trivy-results.json sadik8143/springpetclinic:1.0
            
      - name: Upload Trivy scan results
        uses: actions/upload-artifact@v3
        with:
          name: trivy-results
          path: trivy-results.json
